.job {
	display: block;
	width: 192px;
	margin-bottom: 5px !important;
}

.command {
	font-weight: bold !important;
}

.priority {
	color: #00ff00;
	font-weight: bold;
}

.nopositions {
	font-style: italic;
}
