
@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #00ff00,
  $fg-map-keys: (),
  $bg-map-keys: (),
);
@use '../base.scss' with (
  $color-bg: #000000,
  $color-bg-grad-spread: 1%,
  $border-radius: 0,
  $color-fg: #00ff00,
);

.theme-scarlet {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css('../components/Button.scss', $with: (
    'color-default': colors.$primary,
    'color-disabled': #363636,
    'color-selected': #465899,
    'color-caution': #be6209,
    'color-danger': #9a9d00,
  ));
  @include meta.load-css('../components/Input.scss', $with: (
    'border-color': #404b6e,
  ));
  @include meta.load-css('../components/NoticeBox.scss', $with: (
    'background-color': #00ff00,
  ));
  @include meta.load-css('../components/NumberInput.scss', $with: (
    'border-color': #404b6e,
  ));
  @include meta.load-css('../components/ProgressBar.scss', $with: (
    'background-color': rgba(0, 0, 0, 0.5),
  ));
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css('../components/Tooltip.scss', $with: (
    'background-color': #000000,
  ));

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css('../layouts/TitleBar.scss', $with: (
    'background-color': #000000,
    'text-color': #00ff00,
  ));

  .LabeledList__label {
    color: #00ff00 !important;
  }

  .Layout__content {
    background-image: none;
  }

  .TitleBar, .Window, .Button, .Table__cell {
    border: 1px solid #00ff00;
  }

  .TitleBar__close {
    border-top: 1px solid #00ff00;
    border-left: 1px solid #00ff00;
    border-bottom: 1px solid #00ff00;
  }
}
